<div class="row">
  <div class="span11 center">
    <div class="main-content">
      <div class="header"><h1>Edit Question and Answer</h1></div>
      <%= render partial: "form", locals: { article: @article } %>
    </div>
  </div>
</div>
