<div class="page-container article">
  <div class="breadcrumbs">
    <ol><%= render_breadcrumbs :tag=> :li, :separator =>" > " %></ol>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          Sorry, we can't find what you are looking for.
        </div>
        <div class="content-text">
          <p>We are working to aggregate as much info from the City of Oakland as we can.
            Unfortunately it is an ongoing process and we don't yet have the article you are looking for.</p>
        </div>
      </div>
    </div><!-- /span9 -->

    <div class="span3">
      <%= render :partial => 'shared/categories_sidebar' %>
    </div><!-- /span3 -->
  </div>
</div>
