<% if article.title.present? %><li><%= link_to( article.title, article) %></li><% end %>
<% if article.title_es.present? %><li><%= link_to( article.title_es, article) %></li><% end %>
<% if article.title_cn.present? %><li><%= link_to( article.title_cn, article) %></li><% end %>
