// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

/* Define language areas */
body.active_admin{
  li.top-break{
      border-top: 20px solid #fff; 
    }
  form{
    fieldset{
      textarea{
        font-size:2em;
        width:50%;
      }
      input[type=text]{
        font-size:2em;
        width:50%;
      }
      ol{
        li{
          label{
            font-size:2em;
          }
        }
      }
    }
  }
}