<div class="row">
  <div class="span11 center">
    <div class="main-content">
      <div class="header"><h1>Add a Category</h1></div>
      <%= render partial: "form", locals: { category: @category } %>
    </div>
  </div>
</div>
