<div class="page-container span12 center">
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header"><h1><%= @category.name %></h1></div>
        <ul class="category-articles category-details">
          <% @category.articles.by_access_count.each do |article| %>
              <li class="category-article">
                <%= content_tag(:h2, link_to( article.title, article_path(article) ) ) %>
              </li>
          <% end -%>
        </ul>
      </div>
    </div>
    <div class="span3">
      <%= render partial: 'shared/categories_sidebar' %>
    </div>
  </div>
</div>
